{% extends 'index.html' %}
{% block content %}

<div class="container">
    {% for t in tweets %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="/user/{{t.user.id}}">
                    <h2 class="post-title">{{t.title}}</h2>
                    <h3 class="post-subtitle">by {{t.user.username}}</h3>
                </a>
                <p class="post-meta">
                  {{t.timestamp}}  
                </p>
                <p>{{t.content}}</p>
                <a href="/tweet/{{t.id}}">Detail</a>
            </div>
        </div>
        </div>
        <hr />
    {% endfor %}
</div>
{% endblock %}
